/* ---------------------------------------------
Table of contents
------------------------------------------------
00. variables
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. timer
07. organizing
08. timeline
08. awards
09. rules&regulations
10. footer
11. register
12. faq
13. memories
14. messenger
15. preloader

--------------------------------------------- */
/*
---------------------------------------------
Variables
---------------------------------------------
*/

:root {
  --primary_color_1: #648e11;
  --primary_color_2: #83c702;
  --secondary_color_1: #709a08;
  --secondary_color_2: #2a5610;
}

/*
---------------------------------------------
font & reset css
---------------------------------------------
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/*
---------------------------------------------
reset
---------------------------------------------
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #888;
}

/*
---------------------------------------------
global styles
---------------------------------------------
*/
html,
body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: var(--secondary_color_1);
  color: #fff;
}

::-moz-selection {
  background: var(--secondary_color_1);
  color: #fff;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden !important;
  }

  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .mobile-bottom-fix {
    margin-bottom: 30px;
  }

  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--secondary_color_2);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: var(--primary_color_2);
}

a.main-button,
a.btn-info {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--secondary_color_2);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover,
a.btn-info:hover {
  background-color: var(--primary_color_2);
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--secondary_color_2);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: var(--primary_color_2);
}

.center {
  text-align: center;
}

.center-heading {
  margin-bottom: 30px;
}

.center-heading h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.center-heading h2 em {
  font-style: normal;
  color: var(--primary_color_1);
}

.center-heading p {
  font-size: 15px;
  color: #888;
  text-align: center;
}

/*
---------------------------------------------
header
---------------------------------------------
*/

.background-header {
  background-color: #fff;

  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #7a7a7a !important;
}

.background-header .main-nav .nav li:hover a {
  color: var(--primary_color_1) !important;
}

.background-header .nav li a.active {
  color: var(--primary_color_1) !important;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #191a20;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: left;
  margin-top: 27px;
  margin-left: 15%;
  margin-right: 0px;
  background-color: #fff;
  padding: 0px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a {
  color: var(--primary_color_1);
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #7a7a7a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  display: block;
  background: #fff;
  color: #7a7a7a !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: var(--primary_color_1);
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: var(--primary_color_1) !important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: var(--primary_color_1);
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: var(--primary_color_1);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: var(--primary_color_1);
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: var(--primary_color_1);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: var(--primary_color_1);
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: var(--primary_color_1);
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: var(--primary_color_1);
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: var(--primary_color_1);
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a.active {
  color: var(--primary_color_1);
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .logo {
    text-align: center;
    float: none !important;
  }

  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }

  .header-area .logo {
    margin-left: -20px;
  }

  .header-area .container {
    padding: 0px;
  }

  .header-area .menu-trigger {
    display: block !important;
  }

  .header-area .main-nav {
    overflow: hidden;
  }

  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 0px !important;
    background-color: transparent;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }

  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }

  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: var(--primary_color_1) !important;
  }

  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }

  .header-area .main-nav .nav li.submenu:after {
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/*
---------------------------------------------
welcome
---------------------------------------------
*/
.particles_anim {
  position: absolute;
  top: 0;
  left: 20%;
}

svg {
  position: absolute;
  width: 0;
  height: 0;
}

.banner {
  position: absolute;
  right: -260px;
  top: 0;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.banner img {
  width: 70%;
  position: absolute;
  bottom: 2%;
  left: 4%;
}

.clipped {
  width: 100%;
  height: 100%;
  background: url(../images/objects/banner-bg.png),
    linear-gradient(145deg, var(--primary_color_2) 0%, var(--secondary_color_2) 100%);
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

.clipped video {
  margin-left: -10vw;
  overflow: hidden;
  height: 110%;
}

.welcome-area {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 793px;
  background-repeat: no-repeat;
  background-position: right top;
}

.welcome-area .header-text .left-text {
  position: relative;
  align-self: center;
  margin-top: 35%;
  transform: perspective(1px) translateY(-30%) !important;
}

.welcome-area .header-text h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 1px;
  color: var(--primary_color_1);
}

.welcome-area .header-text h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: var(--primary_color_2);
}

.welcome-area .header-text h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary_color_1);
}

.welcome-area .header-text h1 em {
  font-style: normal;
  color: var(--primary_color_1);
}

.welcome-area .header-text p {
  font-weight: 300;
  font-size: 17px;
  color: #7a7a7a;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 1420px) {
  .clipped video {
    margin-left: -20vw;
  }

  .banner {
    right: -15px;
  }

  .welcome-area .header-text {
    width: 60%;
    margin-left: 5%;
  }
}

@media (max-width: 1320px) {
  .welcome-area .header-text .left-text {
    margin-top: 50%;
  }

  .welcome-area .header-text {
    width: 50%;
    margin-left: 5%;
  }
}

@media (max-width: 1140px) {
  .welcome-area {
    height: auto;
  }

  .welcome-area .header-text {
    width: 60%;
  }

  .welcome-area .header-text .left-text {
    margin-top: 20%;
    transform: none !important;
  }
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    width: 95%;
    position: relative;
    padding-bottom: 50px;
  }

  .banner {
    position: relative;
    top: 80px;
    height: 70vw;
  }

  .clipped video {
    margin-left: 0;
    overflow: hidden;
    height: 100%;
  }
}

@media (max-width: 810px) {
  .welcome-area {
    background-size: contain;
  }

  .welcome-area .header-text {
    margin-left: 0;
    padding-top: 20px;
  }

  .container-fluid .col-md-12 {
    margin-right: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 350px) {
  .welcome-area .header-text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 1px;
    color: var(--primary_color_1);
  }

  .welcome-area .header-text h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    color: var(--primary_color_2);
  }
}

/*
---------------------------------------------
timer
---------------------------------------------
*/
#timer {
  width: 100%;
  padding: 50px 0px;
  position: relative;
  z-index: 9;
}

a.register-button {
  font-size: 18px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--secondary_color_2);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.register-button:hover {
  background-color: var(--primary_color_2);
}

#timer h2 {
  color: var(--primary_color_2);
}

#timer_close {
  margin-top: 10px;
  display: none;
}

#timer_close p {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#timer_close h2 {
  padding-bottom: 10px;
  color: var(--primary_color_2);
}

@media (max-width: 992px) {
  #timer_close p {
    padding: 10px;
  }
}

/*
---------------------------------------------
organizers
---------------------------------------------
*/

#organizers .features-item {
  background-image: url(../images/objects/back_anim.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#organizers h1 {
  margin-top: -20px;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--primary_color_2);
}

#organizers h4 {
  font-weight: 400;
  color: #7a7a7a;
  font-size: 18px;
  margin-bottom: 10px;
}

/*---------------------------------------------
Hack?
---------------------------------------------
*/

#realhack .features-item {
  background-image: url(../images/objects/back_anim.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  height: 100%;
}

#realhack h1 {
  margin-top: -20px;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--primary_color_2);
}

#realhack h4 {
  font-weight: 300;
  color: #7a7a7a;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
}

/*
---------------------------------------------
awards
---------------------------------------------
*/

#awards {
  padding: 100px 0px;
  position: relative;
  z-index: 9;
}

#awards h1 {
  font-weight: 550;
  color: var(--primary_color_1);
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  #awards {
    padding: 50px 0px;
  }

  .features-item {
    margin-bottom: 20px;
  }
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.features-item h2 {
  z-index: 9;
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 100px;
  font-weight: 600;
  color: #fdefe9;
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h4 {
  font-weight: 600;
  margin-top: 0px;
  font-size: 28px;
  color: var(--primary_color_1);
}

.features-item .main-button {
  margin-top: 35px;
  display: inline-block;
}

/*
---------------------------------------------
time line and rules regulations
---------------------------------------------
*/

.left-image-decor {
  z-index: 1;
  background-image: url(../images/objects/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 160%;
  margin-top: 1000px;
}

#timeline h1,
#rulesregulations h1 {
  font-weight: 550;
  color: var(--primary_color_1);
  text-align: center;
  margin-bottom: 30px;
}

#timeline h2,
#rulesregulations h2 {
  font-weight: 550;
  color: var(--primary_color_1);
  text-align: left;
  margin-bottom: 30px;
}

#timeline,
#rulesregulations h5 {
  font-weight: 400;
  color: var(--primary_color_2);
  text-align: left;
  margin-bottom: 28px;
}

#timeline h3,
#rulesregulations h3 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

#timeline h6,
#rulesregulations h6 {
  margin-top: -30px;
  font-weight: 400;
  color: var(--primary_color_1);
  text-align: center;
}

#timeline,
#rulesregulations {
  padding: 50px 0px;
}

#timeline .left-image,
#rulesregulations .left-image {
  align-self: center;
}

#timeline .right-text ul,
#rulesregulations .right-text ul {
  padding: 0;
  margin: 0;
}

#timeline .right-text ul li,
#rulesregulations .right-text ul li {
  display: inline-block;
  margin-bottom: 60px;
}

#timeline .right-text ul li:last-child,
#rulesregulations .right-text ul li:last-child {
  margin-bottom: 0px;
}

#timeline .right-text img,
#rulesregulations .right-text img {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

#timeline .right-text h,
#rulesregulations .right-text h4 {
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 3px;
}

.right-image-decor {
  background-image: url(../images/objects/right-bg-decor.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 150%;
  margin-top: -200px;
}

/* Sponsors */

.top {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .top {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .respon-top {
    margin-top: 25px;
  }
}

.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 0 10px;
  /*   border: 1px solid #fabd87;*/
}

.the-fieldset {
  border: 1px solid#fabd87;
  border-bottom-style: none;
  border-left-style: none;

  padding: 10px;
}

.the-fieldset legend {
  text-align: left;
}

.the-fieldset legend h4 {
  font-size: 20px;
}

.the-legend h4 {
  color: var(--primary_color_2) !;
}

.sponsor-item {
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
}

.responsive_zincat {
  width: 72%;
  height: auto;
}

.responsive_shutter_hackthons {
  margin-top: 20px;
  width: 75%;
  height: auto;
}

@media (max-width: 600px) {
  .responsive_shutter_hackthons {
    margin-top: 5px;
    width: 75%;
    height: auto;
  }
}

.responsive {
  width: 75%;
  height: auto;
}

/*
---------------------------------------------
footer
---------------------------------------------
*/

.more_buttons,
.more_buttons_2 {
  z-index: 99;
  margin-top: 100px;
  position: relative;
}

a.more-button {
  margin: 10px;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: transparent;
  text-transform: uppercase;
  color: #777;
  border: #777 1px solid;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.more-button:hover {
  background-color: var(--secondary_color_2);
  color: #fff;
  border-color: var(--primary_color_2);
}

.more_buttons_2 a.more-button {
  margin: 10px;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: transparent;
  text-transform: uppercase;
  color: #777;
  border: #777 1px solid;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more_buttons_2 a.more-button:hover {
  background-color: var(--secondary_color_1);
  color: #fff;
  border-color: var(--primary_color_1);
}

@media (max-width: 992px) {
  footer {
    padding-top: 0px !important;
    margin-top: 100px !important;
  }

  .footer2,
  .footer1 {
    padding: 40px 15px 15px 15px !important;
    margin-top: 40px !important;
  }
}

footer {
  padding-top: 50px;
  background-image: linear-gradient(145deg, var(--primary_color_2) 0%, var(--secondary_color_2) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

footer p {
  color: #fff;
}

footer a {
  color: #fff;
}

footer p #aboutlink {
  color: rgba(182, 173, 173, 0.822);
}

footer p #aboutlink:hover {
  color: #fc3;
}

footer a:hover {
  color: #fc3;
}

footer .social {
  overflow: hidden;
  margin-top: 30px;
  z-index: 99 !important;
  position: relative !important;
}

footer .social li:first-child {
  margin-left: 0px;
}

footer .social li {
  margin: 0px 7.5px;
  display: inline-block;
}

footer .social li a {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #fba70b;
  border-color: #fba70b;
  color: #fff;
}

footer .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #4a4a4a;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

footer .sub-footer {
  padding-bottom: 30px;
  /*60px ->30px */
  padding-top: 30px;
  /*60px ->30px */
  border-top: 1px solid rgba(250, 250, 250, 0.3);
  text-align: center;
}

footer .sub-footer a {
  color: #fff;
}

footer .sub-footer a:hover {
  color: #fc3;
}

footer .sub-footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer2 {
  margin-top: 60px;
  /* 100 */
  padding: 40px 80px 0 80px;
  /*100 100 0 100 */
  background-image: none;
  background-color: rgba(126, 105, 81, 0.075);
}

.footer1 {
  margin-top: 60px;
  /* 100 */
  padding: 40px 80px 0 80px;
  /*100 100 0 100 */
  background-image: linear-gradient(145deg, var(--primary_color_2) 0%, var(--secondary_color_2) 100%);
}

.footer2 .social li a {
  color: #4a4a4a;
  text-align: center;
  background-color: transparent;
  border: 1px solid #4a4a4a;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer2 .social li a:hover {
  background-color: #fba70b;
  border-color: #fba70b;
  color: #fff;
}

.footer2 .copyright {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #4a4a4a;
  letter-spacing: 0.88px;
  text-transform: capitalize;
}

.footer2 .contact i {
  padding-right: 10px;
}

.footer2 .contact a {
  font-size: 15px;
}

.footer1 .contact i {
  padding-right: 10px;
}

.footer1 .contact a {
  font-size: 15px;
}

.footer2 .sub-footer {
  color: #4a4a4a;
  margin-top: 10px;
  /* 20*/
  padding-top: 25px;
  /* 50*/
  padding-bottom: 25px;
  /*  50*/
  border-top: 1px solid #4a4a4a;
  text-align: center;
}

.footer1 .sub-footer {
  padding-top: 25px;
  margin-top: 10px;
  /*  30 */
  padding-bottom: 25px;
}

.footer2 .sub-footer p {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer2 p {
  color: #4a4a4a;
}

.footer2 a {
  color: var(--primary_color_1);
}

.footer2 a:hover {
  color: var(--secondary_color_1);
}

@media (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }

  footer .social {
    text-align: center;
  }
}

/* Registration will open soon */

.soon {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.soon h2 {
  color: var(--primary_color_1);
  font-size: 40px;
  font-weight: 700;
}

.soon h3 {
  color: var(--primary_color_2);
  font-size: 30px;
  font-weight: 300;
}

.soon h4 {
  color: var(--primary_color_2);
  font-size: 20px;
  font-weight: 200;
}

.soon h5 {
  color: var(--primary_color_2);
  font-size: 25px;
  font-weight: 400;
}

/**
 * ==============================================
 * Dot Collision
 * ==============================================
 */
.dot-collision {
  margin-top: 20px;
  display: inline;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary_color_1);
  color: var(--primary_color_1);
}

.dot-collision::before,
.dot-collision::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary_color_1);
  color: var(--primary_color_1);
  animation: dotCollisionBefore 2s infinite ease-in;
}

.dot-collision::after {
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary_color_1);
  color: var(--primary_color_1);
  animation: dotCollisionAfter 2s infinite ease-in;
  animation-delay: 1s;
}

@keyframes dotCollisionBefore {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20px);
  }
}

@keyframes dotCollisionAfter {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(20px);
  }
}

/*
---------------------------------------------
preloader
---------------------------------------------
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, var(--primary_color_2) 0%, var(--secondary_color_2) 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .realhack_preloader {
  left: -65px;
  top: -50px;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader img {
  height: 100px;
  animation: realhack_preloader 1s infinite;
}

@keyframes realhack_preloader {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

.teamlist {
  text-align: center;
  width: 100%;
}

.teamlist .team {
  display: inline-block;
  width: 300px;
  background-color: #fba70b36;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.teamlist .team b {
  color: #005579;
  font-size: 20px;
}

/* Contact Us */

.contact-us {
  margin-top: 70px;
  background: #ffffff;
}

.contact-us h2 {
  color: #416100;
  text-align: center;
  margin-bottom: 25px;
}

.our-team {
  padding: 20px 15px 30px;
  background: white;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #ffffff;
}

.our-team:hover {
  transition: 0.5s;
  box-shadow: 0px 5px 10px 0px #d1d1d1;
}

.our-team .pic {
  display: inline-block;
  width: 210px;
  height: 100%;
  background: #416100;
  padding: 5px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
}

.our-team:hover .pic {
  background: #83c702;
  border-radius: 50%;
}

.pic img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #416100;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: #416100;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-team .social li {
  display: inline-block;
  margin-right: 5px;
}

/* .our-team .social li a{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: #448ba8;
  border: 1px solid #448ba8;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
  background:#f09d21;
  color: #fff;
} */
.our-team .social li a {
  display: inline-block;
  border: 1px solid #416100;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 15px;
  color: #416100;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
  background: #83c702;
  color: white;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

/*About us*/

.about-sub-title {
  text-align: left;
  color: var(--primary_color_2);
}
