#realhack-1,
#realhack-card2 {
  padding-top: 100px;
  position: relative;
  z-index: 9;
}

.card {
  display: inline-block;
}
.card-title {
  margin-top: -50px;
}

.final_teams {
  margin-left: -15px;
  display: grid;
  grid-template-columns: 19.9% 19.9% 19.9% 19.9% 19.9%;
  column-gap: 5px;
  row-gap: 5px;
}

.team {
  transition: 0.5s;

  padding: 5px;
  /*background-color: rgb(250, 250, 250);*/
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(177, 177, 177, 0.519);
}

.team:hover {
  box-shadow: 0px 3px 5px rgba(177, 177, 177, 0.519);
}

.team:nth-child(even) {
  padding: 5px;
  color: var(--secondary_color_1);
  text-align: left;
  font-size: 15px;
  border-left: var(--secondary_color_1) 3px solid;
}

.team:nth-child(odd) {
  padding: 5px;
  color: var(--secondary_color_2);
  text-align: left;
  font-size: 15px;
  border-left: var(--secondary_color_2) 3px solid;
}

.institute {
  text-align: left;
  font-size: 9px;
}

@media (max-width: 991px) {
  .final_teams {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 5px;
    row-gap: 5px;
  }
}

@media (min-width: 480px) {
  .ourpartners {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .ourpartners .col {
    margin-bottom: 20px;
  }
}
